*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:monospace;
    
}

body{
    background-color: #fff;
}

.navbar{
    background-color: #000;
    height: 60px;
    display: flex;
    padding: 40px;
    justify-content: space-between;
    align-items: center;
    width: 100% ;
    color: #fff;
}


.tabs{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
}

.tabs h2{
    cursor: pointer;
}

.basic{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.intro {
    margin-top: 15px;
    text-align: center;
    font-size: 24px;
    color: #111;
}

.highlight {
    color: #4CAF50;
    font-weight: bold;
}



.prompt-box {
      width: 80%;
      max-width: 800px;
      margin: 20px auto;
      padding: 20px;
      border: 4px solid black;
      border-radius: 15px;
      background-color: white;
      font-size: 18px;
      resize: vertical;
      height: 150px;
}

.dropdowns {
      display: flex;
      justify-content: center;
      gap: 20px;
      margin: 0px auto;
      flex-wrap: wrap;
}

select {
      padding: 10px;
      font-size: 16px;
      border-radius: 8px;
      border: 2px solid black;
      background-color: #f0f0f0;
      color: #333;
}

button {
      margin-top: 30px;
      padding: 12px 30px;
      font-size: 18px;
      background-color: black;
      color: white;
      border: none;
      border-radius: 25px;
      cursor: pointer;
      transition: background 0.3s ease;
}

button:hover {
      background-color: #333;
}

.take-input{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-box h2{ 
    text-align: center;
    margin-top: 20px;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}